# URL base da API (ex.: https://api.exemplo.com)
VITE_REACT_APP_API_BASE_URL=

# Credenciais de autenticação (token, usuário/senha, etc.)
VITE_REACT_APP_API_USER=
VITE_REACT_APP_API_PASS=

# Chave de API, caso necessário
VITE_REACT_APP_API_KEY=

VITE_REACT_APP_LOGIN_USER=
VITE_REACT_APP_LOGIN_PASS=
